<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--数据库连接设置-->
  <connectionStrings>
    <add name="Adapt.Database.Connection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\Work\vs\ProjectCollection\ProjectCollection\ProjectCollection.WebUI\App_Data\Database2.mdf;Integrated Security=True"/>
    <!--<add name="Adapt.Database.Connection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=F:\xus\program\xus.visualstudio.com\ProjectCollection\[04][source]\ProjectCollection\ProjectCollection.WebUI\App_Data\Database2.mdf;Integrated Security=True"/>-->
    <!--<add name="Adapt.Database.Connection" providerName="System.Data.SqlClient"
        connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\MyProgram\DefaultCollection\metro\[04][source]\metro\metro.WebUI\App_Data\MetroDatabase.mdf;Integrated Security=True"/>-->
  </connectionStrings>
  <appSettings>
    <add key="Adapt.Database.ParameterSymbols" value="@"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>